<div class="background-image">
  <br>
  <div class="container container-white">
    <h1 class="d-flex justify-content-center text-primary">Category Index</h1>      
    <!-- Add/Edit Category Modal   -->
    <button class="btn btn-primary btn-round float-end py-2 mt-2 mb-2" type="button" data-bs-toggle="modal" data-bs-target="#AddEditCategoryModal" (click)="addCategoryTrigger()"><i class="fa-solid fa-plus"></i> &nbsp; Category</button>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getCategoriesList$|async">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>Edit|Delete</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Alerts -->
    <!-- <div class="alert alert-success" id="categoryAdd-toast-success" role="alert">
      Category Added Successfully !
    </div>
    <div class="alert alert-success" id="categoryEdit-toast-success" role="alert">
      Category Updated Successfully !
    </div>
    <div class="alert alert-danger" id="categoryDelete-toast-danger" role="alert">
      Category Deleted.
    </div>
  </div> -->

  <!-- Add/Edit Category Modal   -->
  <div class="modal fade" id="AddEditCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{categoryModalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Close" id="add-edit-modal-close"></button>
        </div>
        <div class="modal-body">
          <app-add-category [category]="category"></app-add-category>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

