.border-zeropx {
    border-radius: 50px;
}

.cursorPointer {
    cursor: pointer;
}

#categoryAdd-toast-success,
#categoryEdit-toast-success,
#categoryDelete-toast-danger {
display: none;
}

#categoryAdd-toast-success,
#categoryEdit-toast-success,
#categoryDelete-toast-danger {
    animation-name: fadeInAndOut;
    animation-duration: 4s;
}

@-webkit-keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeInAndOut {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.background-image {
    background-image: url('/assets/background1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height:max-content;   
}

.container-white {
    background-color: white;
    border-radius:5px;
    border: 1px solid #0366d6;
}