/* You can add global styles to this file, and also import other style files */
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

.font-Bold {
    font-weight: bold;
}

.btn-round {
    border-radius: 50px;
}

html, body {
    min-height: 100%;
    height: auto;
    margin: 0;
}