<div class="row">
    <div class="col-6">
        <div class="col-5">
            <form *ngIf="book">
                <input class="form-control mt-2" [(ngModel)]="book.name" placeholder="Book Name" />
                <input class="form-control mt-2" [(ngModel)]="book.author" placeholder="Author" />
                <input class="form-control mt-2" [(ngModel)]="book.isbn" placeholder="ISBN" />
            </form>
        </div>        
    </div>
    <div class="col-6">
        <table *ngIf="book" class="table table-secondary">
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Author</th>
                    <th>ISBN</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.isbn}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="book == null" class="alert alert-danger col-4 mt-4 text-center" role="alert">
            <i class="fa-solid fa-xmark"></i> No books found !
          </div>
    </div>
</div>
