<div class="flex justify-center items-center">
  <table class="w-screen text-center mt-4">
    <thead class=" bg-purple-200">
      <tr>
        <th class="text-sm font-medium text-gray-900">ID</th>
        <th class="text-sm font-medium text-gray-900">NAME</th>
        <th class="text-sm font-medium text-gray-900">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getCategories$ | async" class="border-b bg-purple-100">
        <td class="text-sm text-gray-900 py-2">{{ item.id }}</td>
        <td class="text-sm text-gray-900">{{ item.name }}</td>
        <td class="text-sm text-gray-900">ACTIONS</td>
      </tr>
    </tbody>
  </table>
</div>
