<div class="col-12">
  <div class="text-right mr-2 ml-2">
    <a class="btn btn-primary text-white mt-2 mb-2"> Add Category </a>
  </div>
  <div class="ml-2 mr-2">
    <table class="table table-primary table-sm text-center">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of getCategories$ | async">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
