<div class="container">
    <!-- <button class="btn btn-dark text-white mt-3 mb-2" (click)="addStudent()"><i class="fa-solid fa-plus"></i>&nbsp;Add Student</button> -->
    <div class="row">
        <div class="col-4 mt-2">
            <div class="form-group">
                <div>
                    <label>Name</label>
                </div>
                <div>
                    <input type="text" class="form-control" [(ngModel)] = "student.name">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>Department</label>
                </div>
                <div>
                    <input type="text" class="form-control" [(ngModel)] = "student.department">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>Student Id</label>
                </div>
                <div>
                    <input type="text" class="form-control" [(ngModel)] = "student.studentId">
                </div>
            </div>
            <div>
                <button class="btn btn-info form-control text-white mt-2" *ngIf="!student.id" (click)="addStudent(student)"><i class="fa-solid fa-plus"></i> Add Student</button>
                <button class="btn btn-dark text-white mt-2" *ngIf="student.id">Update Student</button>
            </div> 
        </div>
        <div class="col-7">
            <table *ngIf="students$.length != 0" class="table table-striped table-sm text-center">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Department</th>
                        <th>StudentId</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of students$">
                        <td>{{item.name}}</td>
                        <td>{{item.department}}</td>
                        <td>{{item.studentId}}</td>
                        <td>
                            <button class="btn btn-dark text-white btn-sm"><i class="fa-solid fa-pen"></i> &nbsp; Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="students$.length == 0" class="alert alert-danger col-4 mt-4 text-center" role="alert"><i class="fa-solid fa-xmark"></i> &nbsp; No students found !</div>
        </div>
    </div>
</div>
